<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>向数据库添加参数</h1>
<form action="/sql/add" method="post">
  <p><input type="text" name="jd_name" placeholder="脚本名称"></p>
  <p><input type="text" name="jd_js" placeholder="脚本名"></p>
  <p><input type="text" name="jd_value1" placeholder="脚本参数1"></p>
  <p><input type="text" name="jd_value2" placeholder="脚本参数2"></p>
  <p><input type="text" name="jd_value3" placeholder="脚本参数3"></p>
  <p><input type="text" name="jd_url" placeholder="关键部分网址"></p>
  <p><input type="text" name="jd_re" placeholder="网址正则表达式"></p>
  <p><input type="submit" value="注册"></p>
</form>
</body>
</html>