{% extends 'module.html' %}
{% block content %}
    <h1>{% block title %}查看数据库{% endblock %}</h1>
    <table bordercolor="red" align="center">
        <tr>
            <th>ID</th>
            <th>脚本名称</th>
            <th>脚本</th>
            <th>参数1</th>
            <th>参数2</th>
            <th>参数3</th>
            <th>URL</th>
            <th>正则表达式</th>
        </tr>
        {% for i in name %}
            <tr>
                <td>{{ i[0] }}</td>
                <td>{{ i[1] }}</td>
                <td>{{ i[2] }}</td>
                <td>{{ i[3] }}</td>
                <td>{{ i[4] }}</td>
                <td>{{ i[5] }}</td>
                <td>{{ i[6] }}</td>
                <td>{{ i[7] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
